html, body {height:100%;}

body
{
    background: #EEEFFF;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #000000;
    min-width: 760px;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{color: #034af3;}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
    font-family: Georgia;
}

h1,h2,h3.h4.h5.h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
 {
     font-size: 1.5em;
     font-weight: 600;
     margin-bottom: 10px;
 }

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}

.page
{
    width: 60%;
    min-width: 585px;
    background-color: #ffffff;
    margin: 20px 20px;
    border: 1px solid #496077;
    z-index:4;
}

.pageMiddle
{
    width: 60%;
    min-width: 585px;
    background-color: #ffffff;
    margin: 20px auto;
    border: 1px solid #496077;
    z-index:4;
}

header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    width: 100%;
}

header h1{
    font-weight: 700;
    margin: 0px;
    padding: 0 0 0 20px;
    color: #000;
    border: none;
    line-height: 2em;
    font-size: 2.5em;
}

header img
{
    width: 150px;
    height: 25px;
    margin: 17px;
}
.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    min-height: 200px;
    width: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

/*
TAB MENU ------------------------------------------------------------------------------
*/

nav
{
    background-color: #EB1010;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    z-index: 5;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #FF0000;
    border: 1px #000000 solid;
    color: #ffffff;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 5px;
    margin-left: 5px;
}

div.menu ul li a:hover
{
    background-color: #ffffff;
    color: #ff0000;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #ffffff;
    color: #cfdbe6;
    text-decoration: none;
    position: relative;
    top: 3px;
}

fieldset{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid black;
}

fieldset p{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label{
    display: block;
}

fieldset label.inline{
    display: inline;
}

legend{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry{
    width: 320px;
    border: 1px solid #CCC;
}

input.passwordEntry{
    width: 320px;
    border: 1px solid #CCC;
}

div.accountInfo
{
    width: 42%;
}

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: white;
}

.loginDisplay a:link{
    color: white;
}

.loginDisplay a:visited{
    color:white;
}

.loginDisplay a:hover{
    color:white;
}

.failureNotification
{
    font-size: 1.2em;
    color: #ff0000;
}

.bold
{
    font-weight: bold;
}

.submitButton{
    text-align: right;
    padding-right: 10px;
}

.left{
    float: left;
}

.right{
    float:right;
}

.userShadow{
    text-shadow: 1px 1px #FF0000;
}

#editor
{
    position: relative;
    width: 100%;
    height: 400px;
    border: 0px;
    padding: 0px;
}

#editorFullScreen{
    position: absolute;
    width: 60%;
    min-width: 585px;
    height: 80%;
    margin: auto 20px;
    left: 0px;
    border: 1px solid black;
    padding:0;
    z-index: 5;
    top: 0;
}

#buttonContainerFullScreen{
    position: absolute;
    z-index: 6;
    bottom: 0;
    border: 1px solid black;
    width: 60%;
    height: 5%;
    margin: auto 20%;
    min-width: 585px;
    left: 0;
    background-color: #272822;
}

#console
{
    position: relative;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 0;
    resize: none;
    margin-top: 10px;
    font-family: "Century Gothic";
    background-color: #000000;
    color: #FFFFFF;
}

#output{
    width: 100%;
    height: 400px;
}

.button:hover{
    position: relative;
    top: 1px;
}

#game{
    width: 100px;
    height: auto;
    text-align: center;
    margin-top: 10px;
}

.title
{
    font-weight: bold;
    font-size: 1em;
    color: #0000FF;
    font-size: 1.5em;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    display: inline-block;
}

.runButton{
    box-shadow: inset 0px 1px 0px 0px #77d42a;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cd811');
    background-color: #77d42a;
    border-radius: 6px;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: auto;
    line-height:40px;
    width: auto;
    text-align: center;
    text-shadow: 1px 1px 0px #810e05;
}

.runButton:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #88e53b), color-stop(1, #5cb811));
    background:-moz-linear-gradient(center top, #88e53b 5%, #5cb811 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#88e53b', endColorstr='#5cd811');
    background-color: #77d42a;
}

/*missed out css for buttons lines 455- 630*/

header a img{
    height: 0px !important;
    width:0px;
}

#SidePanel{
    margin-top: 20px;
    position: relative;
    right: 5%;
    height: 25px;
    max-width: 30%;
    width: 30%;
    top: -20px;
    float: right;
    border-bottom:1px solid black;
    z-index: 5;
}

#SidePanel p{
    font-family:Georgia;
}

.inner
{
    position: relative;
    width: 100%;
    min-width: 245px;
    height: auto;
    background-color: white;
    white-space:normal;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
}

.inner p{
    padding:0px 5px;
}

[class*='col-']{
    float:left;
}

#overlay{
    z-index: 2;
    width: 70px;
    height:auto;
    background-color: white;
    color: black;
    position: absolute;
    border: 1px solid black;
}

.col-1-2{
    width:50%;
}

.col-1-4{
    width:50%;
}

#version
{
    color: #333333;
    right: 0;
    bottom: 0;
    position: fixed;
}

.black-overlay{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity:80;
    filter: alpha(opacity=80)
}

.white_content{
    display: none;
    position: absolute;
    width:auto;
    /*width:auto%; in original file*/
    color:white;
    max-width: 20%;
    height:auto;
    border:1px solid rgb(255, 3,3);
    background-color: #88B0D6;
    z-index:1002;
}

nav ul ul{
    display: none;
}

nav ul li:hover > ul{
    display: block;
}

nav ul{
    padding:0px 20px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after{
    content: "";
    clear: both;
    display: block;
}

nav ul li{
    float: left;
}

nav ul li a{
    display: block;
    color: #757575;
    text-decoration: none;
}

nav ul ul{
    border-radius: 0;
    padding: 0;
    position: absolute;
    top: 100%
}

nav ul ul li{
    float:none;
    position: relative;
    margin: 5px;
}

.progress-bar{
    background-color: #1a1a1a;
    height: 25px;
    margin: 5px 2%;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px #444;
}

.progress-bar span{
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255, .5) inset;
    transition: width .4s ease-in-out;
}

.red span{
    background-color: #f23537;
}

.stripes span{
    background-size:30px 30px;
    background-image: linear-gradient(135deg, rgba(255,255,255, .15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.shine span{
    position: relative;
}

.shine span::after{
    content:'';
    opacity:0;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: #FFF;
    border-radius: 3px;
    animation: animate-shine 2s ease-out infinite;
}

@keyframes animate-shine {
    0% {
        opacity: 0;
        width: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 0;
        width: 95%;
    }
}

#lessonNavigation{
    display: flex;
    width: 70%;
    margin:auto;
}

#lessonProgress{
    width:25%;
}

#game canvas{
    width:100%;
    border:1px solid black;
}

#lessonContent{
    color:#000000;
}

.arrow-left{
    width:0;
    height:0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    background-color: #FFF;
    border-right: 20px solid #EB1010;
    float:left;
}

.arrow-left-disabled{
    width:0;
    height:0;
    border-top:20px solid transparent;
    border-bottom: 20px solid transparent;
    background-color: #FFF;
    border-right:20px solid #C5C5C5;
    float: left;
}

.ace-monokai .ace_comment{
    color:#00FF00!important;
}

.arrow-right{
    width:0;
    height:0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    background-color: #FFF;
    border-left: 20px solid #EB1010;
}

.arrow-right-disabled{
    width:0;
    height:0;
    border-top:20px solid transparent;
    border-bottom: 20px solid transparent;
    background-color: #FFF;
    border-left:20px solid #C5C5C5;
}

#help > input{
    width:45%;
    margin-right:5px;
}

@media (max-width: 1295px) {
    #lessonProgress{
        width:45%;
    }
}

@media (max-width: 955px) {
    #SidePanel{
        left:12%;
    }
}